MINIO_ENDPOINT=10.0.121.203:9000
MINIO_PUBLIC_ENDPOINT=141.148.12.16:9000
MINIO_BUCKET=jsondocs
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=CHANGE_ME
DORIS_HOST=127.0.0.1
DORIS_USER=jsondoc_app
DORIS_PASSWORD=CHANGE_ME
